<!--put file in a folder called templates thx-->

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
    <title>Cool university</title>
</head>
<body>
    <main class="wrap">
        <h1>Cool university</h1>
        <form class="card" id="login_page" autocomplete="off" novalidate>
            <!--username-->
            <div class="form-row" style="position: relative; right: -110px;">
                <label for="username"> Username</label>
                <input id="username" name="username" type="text" required/>
            </div>
            <!--passwd-->
            <div class="form-row" style="position: relative; right: -110px;">
                <label for="password"> Password</label>
                <input id="password" name="password" type="password" required/>
            </div>
            <!--button-->
            <div class="actions" style="position: relative; left: -70px;">
                <button type="submit">Sign in</button>
            </div>
        </form>
        <p id="login_error" style="text-align:center; color: #ff8080;"></p>
    </main>
    <script src="{{ url_for('static', filename='login.js') }}"></script>
</body>
</html>
