:root{
    --bg: #282824;
    --blue-dark: #3351ea;
    --grey: #666d6e;
    --blue-light: #77a3ea;
    --row: #282824;
    --white: #ffffff;
}
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: cursive;
    color: var(--white);
    background: var(--bg);
}

.page_frame{
    margin: 12px;
    padding: 12px;
    background: #282824;
}

.topbar{
    max-width: 1200px;
    margin: 8px auto 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
    font-weight: 600;
}
.signout{
    font-size: 28px;
    font-family: cursive;
    padding: 2px 10px;
    border-radius: 16px;
    border: 2px solid var(--white);
    color: #fff;
    background: var(--blue-light);
    text-decoration: none;
    box-shadow: 0 6px 18px rgb(3, 193, 246);
}
.title{
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    margin: 8px 0 20px;
}

.panel{
    max-width: 1200px;
    margin: 0 auto 40px;
    border: 2px solid var(--grey);
    background: var(--grey);
}

.tabs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid var(--grey);
    
}
.tab{
    padding: 18px 24px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    background: var(--blue-light);
    color: #11264a;
    box-shadow: 0 6px 18px rgb(3, 193, 246);
}
.tab.active{
    background: var(--blue-dark);
    color: #eaf1ff;
}
.content{
    padding: 28px 28px 42px;
    background: var(--grey);
}

table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background: transparent;
    overflow: hidden;
    border-radius: 6px;
    background: var(--bg);
}

thead th{
    background: var(--blue-dark);
    color: #eaf1ff;
    padding: 16px 16px;
    font-size: 22px;
    text-align: left;
    border-right: 2px solid var(--grey);
}
thead th:last-child{
    border-right: none;
}


tbody td{
    padding: 18px 16px;
    font-size: 20px;
    background: #e7ecf7;
    border-right: 2px solid var(--white);
    border-top: 2px solid var(--white);
}
tbody tr:nth-child(odd) td{ 
    background: var(--row); 
}
tbody tr:nth-child(even) td{
    background: var(--row2);
}
tbody td:last-child{
    border-right: none;
}

.icon-btn{
    width: 40px;
    height: 32px;
    font-size: 22px;
    border: 2px solid #6a84bf;
    background: #e9efff;
    color: #2b3e6e;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 8px;
}
.icon-btn:active{
    transform: translateY(1px);
}

/*additional styles for instructor*/
.tabs_instructor{
    display: grid;
    grid-template-columns: 2fr;
    border-bottom: 2px solid var(--grey);
}

.instructor-page .topbar {
    margin-top: 30px;
    align-items: flex-start;
}

.instructor-page .title {
    margin-top: 40px;
}
